.Contact-Content{
    width: 100%;
    height: auto;
    background-color: #353030;
    margin: 0px;
}

.Contact-Content-Text{
    color: #fff;
    font-size: 2rem;
    margin: 0px;
    margin-top: -1vh;
    padding: 5%;
    text-align: start;
}

@media (max-width: 991px){

    .Contact-Content-Text{
        font-size: 1.8rem;
        margin-top: -10vh;
        text-align: center;
    }

}

@media (max-width: 767px){

    .Contact-Content-Text{
        font-size: 1.5rem;
    }

}

@media (max-width: 575px){

    .Contact-Content-Text{
        font-size: 1.3rem;
        margin-top: -1vh;
    }

}