.ContactSection{

    width: 100%;
    height: 100vh;
    background-color: #353030;
    display: flex;

}
.Box-Contact-1{

    width: 50%;

}
.Box-Contact-2{

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Image-Contact{

    width: 100%;
    height: 100%;
    border-right: solid #fff 3px;
    transition: all .8s linear;
    opacity: 1;

}
.remove-img{

    transform: translate(-100%, 0);
    opacity: 0;

}
.Contact-Text{

    color: #fff;
    font-size: 3.3rem;
    text-align: center;

}
.Button-Contact{

    width: 30%;
    margin-top: 15vh;
    height: 10vh;
}

@media (max-width: 991px){

    .Contact-Text{
        font-size: 3rem;
    }

}

@media (max-width: 767px){

    .Contact-Text{
        font-size: 2.5rem;
    }

    .Button-Contact{
        width: 90%;
        margin-top: 15vh;
        height: 10vh;
    }

}

@media (max-width: 575px){

    .Button-Contact{
        width: 60%;
        margin-top: 30vh;
    }

    .ContactSection{
        flex-direction: column;
    }

    .Box-Contact-1{
        width: 100%;
    }

    .Box-Contact-2{
        margin-left: 5px;
        width: 95%;
        position: absolute;
        margin-top: 10vh;
        height: 80vh;
    }

    .Image-Contact{
        height: 100vh;
    }

    .Contact-Text{
        background-color: rgba(0,0,0,.5);
        border: solid #fff 1px;
        font-size: 2rem;
        font-weight: 500;
        padding: 15px;
        height: 25vh;
        display: flex;
        align-items: center;
    }

} 
